
.button-container {
    display: flex;
    flex-direction: column;
}

.btn-group-vertical {
    display: flex;
    flex-direction: column;
}

.btn-group-vertical button {
    margin-bottom: 10px; /* Espacio entre los botones */
}

.btn-group-vertical h4 {
    margin-bottom: 10px; /* Espacio entre el título y los botones */
}